%h1 edit

= form_for @item do |f|
  - if @item.errors.any?
    = f.label :title
    = @item.errors.messages[:title][0]
    = f.text_field :title
    %br
    = f.label :body
    = @item.errors.messages[:body][0]
    = f.text_area :body
    %br
    = f.submit
