%h1 new

= form_for @item do |f|
  = f.label :title
  - if @item.errors.any?
    = @item.errors.messages[:title][0]
  = f.text_field :title
  %br
  = f.label :body
  - if @item.errors.any?
    = @item.errors.messages[:body][0]
  = f.text_area :body
  %br
  = f.submit
